.search-box{
    position: absolute;
    width:30%;
    left:35%;
    top:500px;
    z-index: 10000;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.search-box input,.search-box button
{
    height: 40px;
}

.search-box button{
    background: #ff9a00;
    color:#FFF;
}

#home-top{
    margin-top:30px;
}

#home-top img{
    width: 100%;
}

#top-funs{
    margin-top:30px;
    background: #f9f9f9;
    border: none;
}