<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">


    <div class="search-box">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="游记/旅游攻略/目的地">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="<?php echo G_STATIC_URL; ?>/css/default/img/8f5b12884208f2fa9c47f9c08700e3b9.jpeg" alt=""></div>
            <div class="swiper-slide"><img src="<?php echo G_STATIC_URL; ?>/css/default/img/725ec36e5945e24272edef2873b6d73e.jpeg" alt=""></div>
            <div class="swiper-slide"><img src="<?php echo G_STATIC_URL; ?>/css/default/img/49021539754782.jpg" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <div class="container">
        <div id="home-top">
            <div class="rows">
                <div class="col-md-9">
                    <img src="<?php echo G_STATIC_URL; ?>/css/youxiake/img/31231538297067.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="<?php echo G_STATIC_URL; ?>/css/youxiake/img/40091538017522.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-9 aw-main-content" id="top-funs">
            <!-- tab切换 -->
            <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                <li<?php if ($_GET['sort_type'] == 'unresponsive') { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-unresponsive"><?php _e('等待回复'); ?></a></li>
                <li<?php if ($_GET['sort_type'] == 'hot') { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-hot__day-7" id="sort_control_hot"><?php _e('热门'); ?></a></li>
                <li<?php if ($_GET['is_recommend']) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__is_recommend-1"><?php _e('推荐'); ?></a></li>
                <li<?php if ((!$_GET['sort_type'] OR $_GET['sort_type'] == 'new') AND !$_GET['is_recommend']) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?><?php if ($this->category_info['id']) { ?>category-<?php echo $this->category_info['id']; ?><?php } ?>"><?php _e('最新'); ?></a></li>

                <h2 class="hidden-xs"><?php if ($this->category_info) { ?><?php echo $this->category_info['title']; ?><?php } else if ($this->feature_info) { ?><?php echo $this->feature_info['title']; ?><?php } else { ?><i class="icon icon-list"></i> <?php _e('发现'); ?><?php } ?></h2>
            </ul>
            <!-- end tab切换 -->

            <?php if ($_GET['sort_type'] == 'hot') { ?>
            <!-- 自定义tab切换 -->
            <div class="aw-tabs">
                <ul>
                    <li<?php if ($_GET['day'] == 30) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-30" day="30"><?php _e('30天'); ?></a></li>
                    <li<?php if ($_GET['day'] == 7) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-7" day="7"><?php _e('7天'); ?></a></li>
                    <li<?php if ($_GET['day'] == 1) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-1" day="1"><?php _e('当天'); ?></a></li>
                </ul>
            </div>
            <!-- end 自定义tab切换 -->
            <?php } ?>

            <div class="aw-mod aw-explore-list">
                <div class="mod-body">
                    <div class="aw-common-list">
                        <?php echo $this->posts_list_bit; ?>
                    </div>
                </div>
                <div class="mod-footer">
                    <?php echo $this->pagination; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function(){
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal', // 水平切换选项
            loop: true, // 循环模式选项

            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },

            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // 如果需要滚动条
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })
    }

</script>

<?php TPL::output('global/footer.tpl.htm'); ?>